@forward "./sass/base/reset";
@use "./sass/base/variable";

body {
  background-color: variable.$background-color;
  font-size: variable.$text;
  color: variable.$text-color;
}

%container {
  padding: 0 2rem 0 2rem;
  margin: 0 auto;
}

%item-btn {
  border: none;
  font-size: 1.5rem;
}

.min-h-screen {
  min-height: variable.$min-height;
}

/* Navbar Styles */
.navbar {
  background-color: variable.$primary-color;
  @extend %container;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .brand {
    font-size: 2rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  .navmenu {
    .navlinks {
      display: flex;
      align-items: center;

      .navlink {
        color: #ffffff;
        text-decoration: none;
        padding: 0.5rem 1rem;
        margin-left: 1rem;

        &:hover {
          background-color: darken(variable.$primary-color, 10%);
          border-radius: 4px;
        }

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

.todo-container {
  @extend %container;
  padding: 4rem;

  border-bottom: 1px dashed variable.$primary-color;
  width: 90%;
  background-color: variable.$text-color;
  margin-top: 4rem;
  border-radius: 1rem 1rem 0 0;
}

.todo-fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-field {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #fff;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  color: #f9f9f9;
  font-weight: 400;
}

.input-button {
  padding: 1rem 4rem;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: variable.$primary-color;
  color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
}

.todolist-container {
  @extend %container;
  padding: 4rem;
  height: auto;
  color: #ffffff;
  width: 90%;
  background-color: variable.$text-color;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 0rem 0rem 1rem 1rem;
  margin-bottom: 5rem;
}

.todo-item {
  width: 100%;
  padding: 1.5rem 1.5rem;
  color: variable.$primary-color;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  .time {
    display: inline-block;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: variable.$text-color;
  }
  .title {
    font-size: 2rem;
    font-weight: 500;
    text-transform: capitalize;
  }
  .task-item-right {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    .edit-btn {
      @extend %item-btn;
      color: variable.$primary-color;
    }
    .delete-btn {
      @extend %item-btn;
      color: rgb(161, 5, 5);
    }
  }
}

/* Footer Styles */
.footer {
  background-color: variable.$primary-color;
  color: #ffffff;
  padding: 1rem;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 1.3rem;
}
